<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <h3><%= task.details %></h3>
  <p><%= task.completed %></p>
<% end %>

<h3><%= link_to 'Create new Task', new_task_path %></h3>